/*
 * Empty Stylesheet file.
 */

.anchorPane1 {
    -fx-background-color : #ECC9C7;
}
.anchorTop {
    -fx-background-color : #FFE5EC;
}
.btn {
    -fx-background-color : #F3DCD4;
}
.tablecolumn {
    -fx-background-color : #ECC9C7;
}


