/*sidebar*/
/*btn hover*/
#btnAll:hover, #btnAppetizer:hover, #btnSideOrder:hover, #btnALaCarte:hover, #btnDessert:hover, #btnBeverage:hover, 
#btnAll:focused, #btnAppetizer:focused, #btnSideOrder:focused, #btnALaCarte:focused, #btnDessert:focused, #btnBeverage:focused {
	-fx-background-color:   #EA7C69 !important;
	-fx-background-radius: 10px !important;
	-fx-border-color:   #EA7C69;
	-fx-border-radius: 10px;
	-fx-text-fill: #fff;
	-fx-background-size: 20px 20px; 
    -fx-background-repeat: no-repeat; 
    -fx-background-position: 25px 10px;
}
#btnAll:hover, #btnAll:focused {
	-fx-background-image: url("../assets/menu.png");
}
#btnAppetizer:hover, #btnAppetizer:focused {
	-fx-background-image: url("../assets/appetizer.png");	
}
#btnSideOrder:hover, #btnSideOrder:focused {
	-fx-background-image: url("../assets/side-order.png");	
}
#btnALaCarte:hover, #btnALaCarte:focused {
	-fx-background-image: url("../assets/alacarte.png");	
}
#btnDessert:hover, #btnDessert:focused {
	-fx-background-image: url("../assets/dessert.png");	
}
#btnBeverage:hover, #btnBeverage:focused {
	-fx-background-image: url("../assets/beverage.png");	
}
/*btn*/
#btnAll, #btnAppetizer, #btnSideOrder, #btnALaCarte, #btnDessert, #btnBeverage {
	-fx-background-size: 20px 20px; 
    -fx-background-repeat: no-repeat; 
    -fx-background-position: 25px 10px;
}
#btnAll {
	-fx-background-image: url("../assets/dinner-o.png");
}
#btnAppetizer {
	-fx-background-image: url("../assets/appetizer-o.png");
}
#btnSideOrder {
	-fx-background-image: url("../assets/french-fries-o.png");
}
#btnALaCarte {
	-fx-background-image: url("../assets/rice-bowl-o.png");
}
#btnDessert {
	-fx-background-image: url("../assets/ice-cream-o.png");
}
#btnBeverage {
	-fx-background-image: url("../assets/cocktail-o.png");
}
/*------------------------- */
/*icon btn */
/*hover */
#btnHelp:hover, #btnSetting:hover, #btnNoti:hover, #btnServer:hover, #btnOrder:hover, #btnClearAll:hover, #btnPlace:hover,
#btnHelp:focused, #btnSetting:focused, #btnNoti:focused, #btnServer:focused, #btnOrder:focused {
	-fx-background-color:   #EA7C69 !important;
	-fx-background-radius: 10px !important;
	-fx-border-color:   #EA7C69;
	-fx-border-radius: 10px;
	-fx-text-fill: #fff;
	-fx-background-size: 20px 20px; 
    -fx-background-repeat: no-repeat; 
    -fx-background-position: 5px 5px;
}
#btnHelp:hover, #btnHelp:focused {
	-fx-background-image: url("../assets/question-mark-w.png");
}
#btnSetting:hover, #btnSetting:focused {
	-fx-background-image: url("../assets/settings-w.png");
}
#btnNoti:hover, #btnNoti:focused {
	-fx-background-image: url("../assets/bell-w.png");
}
#btnServer:hover, #btnServer:focused {
	-fx-background-image: url("../assets/waiter-w.png");
}
#btnOrder:hover, #btnOrder:focused {
	-fx-background-image: url("../assets/order-w.png");
}
/*btn*/
#btnHelp, #btnSetting, #btnNoti, #btnServer, #btnOrder {
	-fx-background-size: 20px 20px; 
    -fx-background-repeat: no-repeat; 
    -fx-background-position: 5px 5px;
}
#btnHelp {
	-fx-background-image: url("../assets/question-mark-o.png");
}
#btnSetting {
	-fx-background-image: url("../assets/settings-o.png");
}
#btnNoti {
	-fx-background-image: url("../assets/bell-o.png");
}
#btnServer {
	-fx-background-image: url("../assets/waiter-o.png");
}
#btnOrder {
	-fx-background-image: url("../assets/order-o.png");
}





















