/*sidebar*/
/*btn hover*/
#btnAll:hover, #btnAppetizer:hover, #btnSideOrder:hover, #btnALaCarte:hover, #btnDessert:hover, #btnBeverage:hover {
	-fx-background-color:   #EA7C69 !important;
	-fx-background-radius: 10px !important;
	-fx-border-color:   #EA7C69;
	-fx-border-radius: 10px;
	-fx-text-fill: #fff;
	-fx-background-size: 20px 20px; 
    -fx-background-repeat: no-repeat; 
    -fx-background-position: 25px 10px;
}
#btnAll:hover {
	-fx-background-image: url("../assets/menu.png");
}
#btnAppetizer:hover {
	-fx-background-image: url("../assets/appetizer.png");	
}
#btnSideOrder:hover {
	-fx-background-image: url("../assets/side-order.png");	
}
#btnALaCarte:hover {
	-fx-background-image: url("../assets/alacarte.png");	
}
#btnDessert:hover {
	-fx-background-image: url("../assets/dessert.png");	
}
#btnBeverage:hover {
	-fx-background-image: url("../assets/beverage.png");	
}
/*btn*/
#btnAll, #btnAppetizer, #btnSideOrder, #btnALaCarte, #btnDessert, #btnBeverage {
	-fx-background-size: 20px 20px; 
    -fx-background-repeat: no-repeat; 
    -fx-background-position: 25px 10px;
}
#btnAll {
	-fx-background-image: url("../assets/dinner-o.png");
}
#btnAppetizer {
	-fx-background-image: url("../assets/appetizer-o.png");
}
#btnSideOrder {
	-fx-background-image: url("../assets/french-fries-o.png");
}
#btnALaCarte {
	-fx-background-image: url("../assets/rice-bowl-o.png");
}
#btnDessert {
	-fx-background-image: url("../assets/ice-cream-o.png");
}
#btnBeverage {
	-fx-background-image: url("../assets/cocktail-o.png");
}

/*icon btn */
/*hover */
#btnHelp:hover, #btnSetting:hover, #btnNoti:hover, #btnServer:hover, #btnOrder:hover, #btnClearAll:hover, #btnPlace:hover {
	-fx-background-color:   #EA7C69 !important;
	-fx-background-radius: 10px !important;
	-fx-border-color:   #EA7C69;
	-fx-border-radius: 10px;
	-fx-text-fill: #fff;
	-fx-background-size: 20px 20px; 
    -fx-background-repeat: no-repeat; 
    -fx-background-position: 25px 10px;
}
#btnHelp:hover {
	-fx-background-image: url("../assets/cocktail-o.png");
}
#btnSetting:hover {
	
}
#btnNoti:hover {
	
}
#btnServer:hover {
	
}
#btnOrder:hover {
	
}





















