/*
 * Empty Stylesheet file.
 */

.anchorPane {
    -fx-background-color : #FFFFFF;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 10, 0, 0, 0);
}
.anchorTop {
    -fx-background-color : #EED2D2;
}
.image {
    -fx-background-color : #d3ab9e;
    -fx-background-radius : 10;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.4), 10, 0, 0, 0);
}
.btnCreate {
    -fx-background-color : #0068f9;
    -fx-background-radius : 20;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.4), 10, 0, 0, 0);
    -fx-cursor: hand;
    -fx-fill: back;
}
.btnDelete {
    -fx-background-color : #FE2238;
    -fx-background-radius : 20;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.4), 10, 0, 0, 0);
    -fx-cursor: hand;
    -fx-fill: back;
}
.btnUpdate {
    -fx-background-color : #206e2b;
    -fx-background-radius : 20;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.4), 10, 0, 0, 0);
    -fx-cursor: hand;
    -fx-fill: back;
}
.clear {
    -fx-background-color : #AD403E;
    -fx-background-radius : 10;
    -fx-cursor: hand;
    -fx-fill: back;
}

